.raindrop {
  background-image: url("raindropBackground.jpeg");
  color: white;
  opacity: .85;
  background-position: center center;
  background-attachment: fixed;
  background-size: cover;
}

.sidewalk {
  background-image: url("sidewalkBackground.jpg");
  color: white;
  opacity: .85;
  background-position: center center;
  background-attachment: fixed;
  background-size: cover;
}

.sand {
  background-image: url("sandBackground.jpeg");
  color: white;
  opacity: .85;
  background-position: center center;
  background-attachment: fixed;
  background-size: cover;
}

.bluegray {
  background-image: url("bluegrayBackground.jpg");
  color: white;
  opacity: .85;
  background-position: center center;
  background-attachment: fixed;
  background-size: cover;
}

.icon {
  background-color: white;
  max-width: 220px;
  border-radius: 50%;
  border: solid 15px black;
  image-orientation: none;

}

img.home:hover {
  background-color: gray;
}

img.about:hover {
  background-color: gray;
}

img.portfolio:hover {
  background-color: gray;
}

img.resume:hover {
  background-color: gray;
}

h1 {
  font-size: 750%;
  font-family: 'Pacifico', sans-serif;

}

h2 {
  max-width: 200px;
  border: solid 5px white;
  border-radius: 10px;
  text-align: center;
  font-size: 24pt;

}


ul {
  font-size: 20pt;
}

.p1 {
  width: 100%;
}

.pieceone {
  display: inline-block;
  width: 30%;
  margin: none;
  position: relative;
}

.container h3 {
  position: absolute;
  text-align: center;
}

.p1t {
  background-color: gray;
}

@media (max-width: 850px) {
  .pieceone  {
  width: 45%;
  }
}

@media (max-width: 400px) {
  .pieceone  {
    width: 75%;
  }

/* @media (max -width 850px) {
 portfolio {
  font size: 15px;
 }
}

*/

}

.shortbio {
  font-family: 'Pacifico', sans-serif;
  font-size: 20pt;
}

.affiliations {
  font-family: 'Pacifico', sans-serif;
  font-size: 20pt;
}


/*
